# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.layout
*.cbp
obj/
bin/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.tlog
# Another
*.VC.VC.opendb
*.suo
*.sln
*.VC.db
*.pdb
*.ipdb
*.iobj
*.exp
*.vcxproj.user
*.log
*.idb
*.ilk
*.enc
*.lastcodeanalysissucceeded
